<nav id="header-nav">
    <div class="nav-wrapper grey lighten-5">
        <a href="/">
            <img class="brand-logo left" src="/images/finsta-logo-transparent2.svg" alt="Finsta logo">
        </a>
        
        <ul class="right header-home">
            <li><a class="black-text" href="/">Home</a></li>
            <li><a class="black-text" href="/new">New Post</a></li>
        </ul>

    </div>
</nav>