<nav id="header-nav">
    <div class="nav-wrapper grey lighten-5">
        <img class="brand-logo responsive-img" src="/images/finsta-logo-transparent2.svg" alt="Finsta logo">

        <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down header-home">
            <li><a class="black-text" href="/">Home</a></li>
            <li><a class="black-text" href="/new">Create Post</a></li>
        </ul>

    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a class="black-text" href="/">Home</a></li>
    <li><a class="black-text" href="/new">Create Post</a></li>
</ul>

<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
</script> -->
