<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header') %>
    <main class="row">
        <div class="container">

            <h2>New post</h2>
            
            <form action="/" method="POST">
                Name: <input type="text" name="name" /><br />
                Avi: <input type="text" name="avi" /><br />
                Bio: <input type="text" name="bio" /><br />
                Image: <input type="text" name="img" /><br />
                Caption: <input type="text" name="caption" /><br />
                <input class="waves-effect waves-light btn" type="submit" value="Share">
            </form>

            <div>
                <a class="black-text" href="/">Cancel</a>
            </div>
        </div>
    </main>
</body>
</html>