<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Finsta</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="whole-new">

        <h2>Add post</h2>
        
        <form action="/" method="POST">
            Name: <input type="text" name="name" /><br />
            Image: <input type="text" name="img" /><br />
            Caption: <input type="text" name="caption" /><br />
            <input type="submit" value="SUBMIT">
        </form>

        <nav>
            <a href="/">Cancel</a>
        </nav>

    </main>
</body>
</html>