body {
    background-color: #edeef6;
    font-family: 'Courier New', Courier, monospace;
}

/* ******************************************************************* */
/* HEADER */
/* ******************************************************************* */


/* ******************************************************************* */
/* HOME */
/* ******************************************************************* */


.index-username {
    margin-top: .5rem;
}

/* ******************************************************************* */
/* SHOW */
/* ******************************************************************* */

#show-top-row {
    margin-top: 2rem;
}

hr {
    border: solid #EDA6A4;
}

/* NEW */
/* .whole-new {
    display: grid;
    width: 300px;
    column-count: 1;
    margin: 3rem 375px 0 500px;
    border: 0.5px solid grey;
}

h2 {
    text-align: center;
} */

/* EDIT */
/* .edit-post {
    display: grid;
    width: 614px;
    border: 0.5px solid grey;
    margin: 2rem 375px 0 375px;
}

#edit-head-bar {
    height: 60px;
} */